{% extends "layout.njk" %}

{% block title %}{{ page_title }}{% endblock %}

{% block scripts %}


{% endblock %}
{% block content %}
<main role="main" class="content-container">
    <header class="header-intro">
        <h2 class="content-header">contact</h2>
    </header>
    <!-- include form -->
    {% include "partials/_form.njk" %}



</main>


{% endblock %}
{% block footer_scripts %}

{% endblock %}