{% extends "layout.njk" %}

{% block title %}{{ page_title }}{% endblock %}

{% block scripts %}


{% endblock %}
{% block content %}
 
<div class="container">

	<h1 class="small_intro">This is a test</h1>

</div>

{% endblock %}
{% block footer_scripts %}

{% endblock %}