{% extends "layout.njk" %}

{% block title %}{{ page_title }}{% endblock %}

{% block scripts %}


{% endblock %}
{% block content %}
    <main role="main" class="content-container">

        <article>
            <header class="header-intro">
                <h2 class="content-header">about me</h2>
            </header>

            <img class="img-container" src="assets/media/images/dylan-burkey.jpg" alt="Dylan Burkey" title="Dylan Burkey">

            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam odit modi neque facilis quam labore voluptatem placeat nam tempora nulla voluptates saepe iusto sapiente vel eaque nobis sit, recusandae minima!</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, ipsa voluptas non repellendus voluptatum voluptatibus ea officiis, animi, maxime iste dolore. A, esse impedit rem iusto sit similique molestiae laudantium.</p>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam odit modi neque facilis quam labore voluptatem placeat nam tempora nulla voluptates saepe iusto sapiente vel eaque nobis sit, recusandae minima!</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, ipsa voluptas non repellendus voluptatum voluptatibus ea officiis, animi, maxime iste dolore. A, esse impedit rem iusto sit similique molestiae laudantium.</p>


            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, ipsa voluptas non repellendus voluptatum voluptatibus ea officiis, animi, maxime iste dolore. A, esse impedit rem iusto sit similique molestiae laudantium.</p>
        </article>

        
    </main>


{% endblock %}
{% block footer_scripts %}

{% endblock %}