{% extends "layout.njk" %}

{% block title %}{{ page_title }}{% endblock %}

{% block scripts %}


{% endblock %}
{% block content %}
    <main role="main" class="content-container">

        <article>
            <header class="header-intro">
                <h2 class="content-header">about me</h2>
            </header>

            <div class="row">
                <div class="col-3">
                    <img class="img-container" src="assets/media/images/dylan-burkey.jpg" alt="Dylan Burkey" title="Dylan Burkey">
                </div>
                <div class="col-9">
                    <p>Hey everyone, my name is Dylan. I lived in Costa Rica for 20 years before moving to Vancouver.
                    I started developing websites in 8th grade, using tables and Frontpage.</p>
                    <p>I attended the Vancouver Art Institute, I graduated in 2008 with a two year technical degree in Advanced Web Development. At the time I planned on being a Flash developer as it was very high paying job at the time. The year I graduated Apple announced they would not support Flash, which crushed that dream.  </p>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <section class="card-about">
                       <header>
                           <h1 class="card-header">life tunes</h1>
                       </header>
                        <div class="card-content">
                            <ul>
                                <li>Eminem</li>
                                <li>Destructo</li>
                                <li>Citizen Cope</li>
                            </ul>
                        </div>
                    </section>
                </div>
                <div class="col-8">
                    <section class="card-about__theme-1">

                        <div class="card-content">
                            <div class="row">
                                <div class="col-6">
                                    <iframe class="card-video" src="https://www.youtube.com/embed/hC3Vv0XAtbw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                </div>
                                <div class="col-6">
                                    <iframe class="card-video" src="https://www.youtube.com/embed/TpPufGemmqY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

        </article>

        
    </main>


{% endblock %}
{% block footer_scripts %}

{% endblock %}