<!-- Cards -->
<aside class="card-container">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <img src="http://placehold.it/200x200" alt="example image">
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img src="http://placehold.it/200x200" alt="example image">
            </div>
        </div>
        <div class="col-4">
            <section class="card">
                <header><h2>example three</h2></header>
                <img src="http://placehold.it/300x300" alt="example image">
            </section>
        </div>
    </div>
</aside>