<!-- Contact Form -->
<form class="contact-form" name="contact-form" method="post">
    <div class="input-wrap">
        <label for="name">name</label>
        <input type="text" name="name" placeholder="Your Name" required>
    </div>
    <div class="input-wrap">
        <label for="email">email</label>
        <input type="email" name="email" placeholder="email@example.com" required>
    </div>
    <div class="input-wrap">
        <label for="message">message</label>
        <textarea title="message" name="message" class="contact-message" required>

        </textarea>
    </div>

    <button class="contact-theme">Submit</button>

</form>