
<!-- Start Primary Header -->
<header role="banner" class="primary-site-header">
    <div class="site-header__logo">
        <a class="header-logo__link" href="/">
            <h1 class="header-logo">dylanburkey</h1>
        </a>
    </div>
</header>