
<!-- Start Primary Header -->
<header role="banner" class="primary-site-header">
    <!-- Start .site-wrap -->
    <div class="site-wrap">
        <h1 class="site-logo"><a href="/">Dylan Burkey</a></h1>

        <nav class="primary-site-nav">
            <a class="site-link" href="index.html">about</a>
            <a class="site-link" href="portfolio.html">portfolio</a>
            <a class="site-link" href="contact.html">contact</a>

        </nav>
    </div>
    <!-- /.site-wrap -->
</header>