
<!-- Start Primary Header -->
<header role="banner" class="primary-site-header">
    <!-- Start .site-wrap -->

    <div class="site-wrap">
            <a class="primary-site__link" href="/">
                <h1 class="primary-site__logo">dylan burkey</h1>
            </a>

        <nav class="primary-site-nav">
            <ul>
                <li class="site-link"><a href="/">about</a></li>
                <li class="site-link"><a href=""></a></li>
                <li class="site-link"><a href=""></a></li>
            </ul>
        </nav>
    </div>
    <!-- /.site-wrap -->
</header>