@charset "UTF-8";

/**
 * The relative path to the image assets folder.
 *
 * @nuclide Image-Folder
 * @section Config > Paths
 */
$config--image-folder: "../assets/media/images";

/**
 * Use Meyer Reset?
 *
 * @nuclide Framework Options
 * @section Config > Framework > Options
 */

$use-meyer-rest: true;

/**
 * Use Normalize?
 *
 * @nuclide Framework Options
 * @section Config > Framework > Options
 */

$use-normalize: false;

/**
 * Use Custom Rest?
 *
 * @nuclide Framework Options
 * @section Config > Framework > Options
 */

$use-dbreset: false;

$base-font-family: "PT Sans";
$base-font-family-fallback: sans-serif;
$base-header-font-family: "Gugi";
$header-font-family-fallback: Georgia, serif;


$base-font-size: 16px;

$base-line-height: 24px;

%clearfix {
  *zoom: 1;
  &:before,
  &:after {
	content: " ";
	display: table;
  }
  &:after {
	clear: both;
  }
}

