@charset "UTF-8";

/**
 *
 *
 * @color
 * @section Color Palates > Themes > Theme One
 */

$c-theme-1: #D73F4B;
$c-theme-2: #3E758D;
$c-theme-3: #59BDB4;
$c-theme-4: #A56D61;
$c-theme-5: #BE3E31;

$c-theme-text: #777;
$c-base-white: #fff;

$c-base-black: #000;

$b-theme-1: #494644;
$b-theme-2: #806D55;
$b-theme-3: #C64B4D;
$b-theme-4: #CE9E71;
$b-theme-5: #F1E79B;
