@charset "UTF-8";

/// Base Styles

/**
	Start Global Styles
 */

* {
  @include box-sizing;
}

html {
  font-family: sans-serif;
  height: 100%;
}

body {
  font-family: $base-font-family;
  line-height: 1.4;
}