<!DOCTYPE html>
<html lang="en-us" dir="ltr">
    <head>
    <meta charset="utf-8">
        <link href="assets/styles/styles.min.css" rel="stylesheet">

        <link rel="icon" href="src/images/favicon.jpg">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title> {% block title %} {% endblock %}</title>

    {% block scripts %} {% endblock %}

</head>
<body>
    <div class="app-container">

        {% include "partials/header.njk" %}

        {% block content %}

        {% endblock %}


        {% include "partials/footer.njk" %}
    </div>
    <!-- /.app-container -->
{% block footer_scripts %}

{% endblock %}

</body>
</html>