<!DOCTYPE html>
<html lang="en-us" dir="ltr">
    <head>
    <meta charset="utf-8">
        <link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin>

        <link href="assets/styles/styles.min.css" rel="stylesheet">

        <link rel="icon" href="src/images/favicon.jpg">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title> {% block title %} {% endblock %}</title>

    {% block scripts %} {% endblock %}

</head>
<body>
{% include "partials/header.njk" %}

    <div class="app-container">


        {% block content %}

        {% endblock %}


        {% include "partials/footer.njk" %}
    </div>
    <!-- /.app-container -->
{% block footer_scripts %}

{% endblock %}
<!-- Web Font Loader -->
<script>
(function(d) {
var wf = d.createElement('script'), s = d.scripts[0];
wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
s.parentNode.insertBefore(wf, s);
})(document);
</script>
<script src="assets/scripts/main.js"></script>
</body>
</html>